@model PJ_SanPhamTieuDung_.Net.Models.NguoiDung

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="text-uppercase fw-bold">Thêm nhân viên</h5>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Người dùng</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenNguoiDung,"Họ tên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNguoiDung, new { htmlAttributes = new { @class = "form-control my-1" } })
                @Html.ValidationMessageFor(model => model.TenNguoiDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailNguoiDung,"Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailNguoiDung, new { htmlAttributes = new { @class = "form-control my-1" } })
                @Html.ValidationMessageFor(model => model.EmailNguoiDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SdtNguoiDung,"Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SdtNguoiDung, new { htmlAttributes = new { @class = "form-control my-1" } })
                @Html.ValidationMessageFor(model => model.SdtNguoiDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChiNguoiDung,"Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiNguoiDung, new { htmlAttributes = new { @class = "form-control my-1" } })
                @Html.ValidationMessageFor(model => model.DiaChiNguoiDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserNames,"Tên tài khoản", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserNames, new { htmlAttributes = new { @class = "form-control my-1" } })
                @Html.ValidationMessageFor(model => model.UserNames, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PassWords,"Mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PassWords, new { htmlAttributes = new { @class = "form-control my-1" } })
                @Html.ValidationMessageFor(model => model.PassWords, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLoaiTaiKhoan, "Mã loại tài khoản", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiTaiKhoan", null, htmlAttributes: new { @class = "form-control my-1" })
                @Html.ValidationMessageFor(model => model.MaLoaiTaiKhoan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm nhân viên" class="btn btn-success my-2" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
