@model PJ_SanPhamTieuDung_.Net.Models.NguoiDung

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="text-uppercase fw-bold">Xóa nhân viên</h5>

<h3 class="text-danger">Bạn có chắc chắn muốn xóa</h3>
<div>
    <div class="d-flex justify-content-between">
        <h4>Người dùng</h4>
        @Html.ActionLink("Trở lại", "Index")
    </div>
    <hr />
    <div class="row" ">
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Tên người dùng")</span>
            <input class="form-control my-1"  type="text" name="TenNguoiDung" value="@Html.DisplayFor(model => model.TenNguoiDung)" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Email")</span>
            <input class="form-control my-1"  type="text" name="Email" value="@Html.DisplayFor(model => model.TenNguoiDung)" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Số điện thoại")</span>
            <input class="form-control my-1" type="text" name="Sdt" value="@Html.DisplayFor(model => model.TenNguoiDung)" readonly />
        </div>
    </div>
    <div class="row" ">
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Địa chỉ")</span>
            <input class="form-control my-1"  type="text" name="DiaChi" value="@Html.DisplayFor(model => model.DiaChiNguoiDung)" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Tên tài khoản")</span>
            <input class="form-control my-1"  type="text" name="TenTaiKhoan" value="@Html.DisplayFor(model => model.UserNames)" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Loại tài khoản")</span>
            <input class="form-control my-1"  type="text" name="LoaiTaiKhoan" value="@Html.DisplayFor(model => model.LoaiTaiKhoan.TenLoaiTaiKhoan)" readonly />
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận" class="btn btn-danger my-2" />
        </div>
    }
</div>
