@model PJ_SanPhamTieuDung_.Net.Models.NguoiDung

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between">
    <h2>Chi tiết nhân viên</h2>
    <p>@Html.ActionLink("Trở về", "Index")</p>
</div>

<div>
    <h4>Người dùng</h4>
    <hr />
    <div class="row">
        <div class="col-sm">
            <span class="form-label"> @Html.DisplayName("Tên người dùng")</span>
            <input type="text" name="TenNguoiDung" value="@Html.DisplayFor(model => model.TenNguoiDung)" class="form-control my-1" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label"> @Html.DisplayName("Email")</span>
            <input type="text" name="TenNguoiDung" value="@Html.DisplayFor(model => model.EmailNguoiDung)" class="form-control my-1" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label"> @Html.DisplayName("Số điện thoại")</span>
            <input type="text" name="TenNguoiDung" value="@Html.DisplayFor(model => model.SdtNguoiDung)" class="form-control my-1" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="form-label"> @Html.DisplayName("Địa chỉ")</span>
            <input type="text" name="TenNguoiDung" value="@Html.DisplayFor(model => model.DiaChiNguoiDung)" class="form-control my-1" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label"> @Html.DisplayName("Tên tài khoản")</span>
            <input type="text" name="TenNguoiDung" value="@Html.DisplayFor(model => model.UserNames)" class="form-control my-1" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label"> @Html.DisplayName("Loại tài khoản")</span>
            <input type="text" name="TenNguoiDung" value="@Html.DisplayFor(model => model.LoaiTaiKhoan.TenLoaiTaiKhoan)" class="form-control my-1" readonly />
        </div>
    </div>
</div>
<p>
    @{
        int maloaitaikhoan = Convert.ToInt32((Html.DisplayFor(m => m.MaLoaiTaiKhoan).ToString()));
        if (maloaitaikhoan != 3)
        {
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaNguoiDung }, new { @class = "btn btn-success my-2" })
        }
    }

</p>
