@model IEnumerable<PJ_SanPhamTieuDung_.Net.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SdtNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserNames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassWords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiTaiKhoan.TenLoaiTaiKhoan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SdtNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassWords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTaiKhoan.TenLoaiTaiKhoan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNguoiDung }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNguoiDung }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNguoiDung })
        </td>
    </tr>
}

</table>
