@model PJ_SanPhamTieuDung_.Net.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="text-uppercase fw-bold">Xóa sản phẩm</h5>

<h5 class="text-danger">Bạn có chắc muốn xóa không?</h5>
<div>
    <div class="d-flex justify-content-between">
        <h4>Sản phẩm</h4>
        <p>@Html.ActionLink("Trở về", "Index")</p>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Tên sản phẩm")</span>
            <input type="text" name="Tên sản phẩm" value="@Html.DisplayFor(model => model.TenSanPham)" class="form-control my-2" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Đơn giá")</span>
            <input type="text" name="Tên sản phẩm" value="@Html.DisplayFor(model => model.DonGia)" class="form-control my-2" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Mô tả sản phẩm")</span>
            <input type="text" name="Tên sản phẩm" value="@Html.DisplayFor(model => model.MoTaSanPham)" class="form-control my-2" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Địa chỉ đường dẫn hình ảnh sản phẩm")</span>
            <input type="text" name="Tên sản phẩm" value="@Html.DisplayFor(model => model.HinhAnh)" class="form-control my-2" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Mô tả chi tiết sản phẩm")</span>
            <input type="text" name="Tên sản phẩm" value="@Html.DisplayFor(model => model.MoTaChiTietSanPham)" class="form-control my-2" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Cách sử dụng")</span>
            <input type="text" name="Tên sản phẩm" value="@Html.DisplayFor(model => model.CachDungSanPham)" class="form-control my-2" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Địa chỉ đường dẫn hình ảnh 2")</span>
            <input type="text" name="Tên sản phẩm" value="@Html.DisplayFor(model => model.HinhAnh2)" class="form-control my-2" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Địa chỉ đường dẫn hình ảnh 3")</span>
            <input type="text" name="Tên sản phẩm" value="@Html.DisplayFor(model => model.HinhAnh3)" class="form-control my-2" readonly />
        </div>
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Khuyến mãi")</span>
            <input type="text" name="Tên sản phẩm" value="@Html.DisplayFor(model => model.khuyenmai)" class="form-control my-2" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="form-label">@Html.DisplayName("Danh mục sản phẩm")</span>
            <input type="text" name="Tên sản phẩm" value="@Html.DisplayFor(model => model.DanhMucSanPham.TenDanhMucSanPham)" class="form-control my-2" readonly />
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận" class="btn btn-danger my-2" />
           
        </div>
    }
</div>
