@using PJ_SanPhamTieuDung_.Net.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var chiTietHoaDon = ViewBag.ChiTietHoaDon as List<ChiTietHoaDon>;
}

<h5 class="text-uppercase fw-bold">Chi tiết đơn hàng</h5>

<div>
    <h4>Hóa đơn</h4>
    <hr />
    <div class="table-responsive">
         <table class="table table-striped text-center table-responsive-md">
        <tr>
            <th>Mã chi tiết</th>
            <th>Mã nhân viên thực hiện</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng sản phẩm</th>
            <th>Giá sản phẩm</th>
            <th>Tên khách hàng</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ nhận hàng</th>
            <th>Phương thức thanh toán</th>
        </tr>
        @foreach (var item in chiTietHoaDon)
            {
         <tr>
             <td>@item.MaChiTietHoaDon</td>
             <td>@item.HoaDon.NhanVienThucHien</td>
             <td>@item.SanPham.TenSanPham</td>
             <td>@item.SoLuongSanPham</td>
             <td class="text-danger">
                 @{ int price = Convert.ToInt32(item.Gia.ToString());}
                 @price.ToString("n0") VNĐ
             </td>
             <td>@item.HoaDon.TenKhachHang</td>
             <td>@item.HoaDon.SdtLienLac</td>
             <td>@item.HoaDon.DiaChiGiaoHang</td>
             <td>@item.HoaDon.PhuongThucThanhToan.TenPhuongThuc</td>
         </tr>
            }
    </table>
    </div>
</div>
<p>
    @Html.ActionLink("Trở về", "Index")
</p>
