@model IEnumerable<PJ_SanPhamTieuDung_.Net.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="text-uppercase fw-bold">Quản lý hóa đơn</h5>
<hr />
<table class="table table-hover">
    <tr>
        <th>@Html.DisplayName("Mã hóa đơn")</th>
        <th>
            @Html.DisplayName("Tổng số lượng")
        </th>
        <th>
            @Html.DisplayName("Tổng tiền")
        </th>
        <th>
            @Html.DisplayName("Ngày mua")
        </th>
        <th>
            @Html.DisplayName("Tên khách hàng")
        </th>
        <th>
            @Html.DisplayName("Phương thức thanh toán")
        </th>
        <th>
            @Html.DisplayName("Trạng thái đơn hàng")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHoaDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongSoLuong)
        </td>
        <td class="text-danger">
            @{ 
                int totalMoney = Convert.ToInt32(Html.DisplayFor(modelItem => item.TongTien).ToString());
            }
           @totalMoney.ToString("n0") VNĐ
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayMua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhuongThucThanhToan.TenPhuongThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai.TenTrangThai)
        </td>
        <td>
            @Html.ActionLink("chi tiết", "Details", new { id=item.MaHoaDon },new {@class ="btn btn-outline-success w-100 my-2" })
            @Html.ActionLink("Xác nhận", "Handle", new { id=item.MaHoaDon },new {@class = "btn btn-success w-100 my-2" })
        </td>
    </tr>
}

</table>
