@model IEnumerable<PJ_SanPhamTieuDung_.Net.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.TenKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSanPham)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoaDon.TenKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaChiTietHoaDon }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaChiTietHoaDon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaChiTietHoaDon })
        </td>
    </tr>
}

</table>
