@model PJ_SanPhamTieuDung_.Net.Models.Cart
@{
    ViewBag.Title = "Showcart";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h5 class="fw-bold text-uppercase my-3">Giỏ hàng của tôi</h5>
<p class="text-danger"><b>Khi bạn mua trên 2 sản phẩm thì bạn sẽ được giảm giá lên đến <span style="font-size:xx-large">10% </span>tổng giá sản phẩm</b></p>
<a class="text-decoration-none" href="@Url.Action("Index","Home")">Mua thêm sản phẩm</a>
@if (Model != null)
{

    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayName("Tên sản phẩm")</th>
                <th scope="col">@Html.DisplayName("hình sản phẩm")</th>
                <th scope="col">@Html.DisplayName("Giá")</th>
                <th scope="col">@Html.DisplayName("Số lượng")</th>
                <th scope="col">@Html.DisplayName("Thành tiền")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                decimal total = item._quantity * (decimal)item._product.DonGia.Value;
                <tr>
                    <td>@Html.DisplayFor(model => item._product.TenSanPham)</td>
                    <td><img class="w-25" src="@Url.Content(item._product.HinhAnh)" /></td>
                    <td class="text-danger">@Html.DisplayFor(model => item._product.DonGia) VNĐ</td>
                    <td>
                        @using (Html.BeginForm("Update_Cart_Quantity", "Cart"))
                        {
                            <input type="hidden" value="@item._product.MaSanPham" name="idPro" />
                            <input class="form-control w-25 d-inline" type="number" value="@item._quantity" name="cartQuantity" min="0" />
                            <input class="btn btn-success" type="submit" value="Cập nhật" />
                        }
                    </td>
                    <td class="text-danger">@total.ToString("n0") VNĐ</td>
                    <td>
                        <a class="btn btn-danger" href="@Url.Action("RemoveCart","Cart",new {id = item._product.MaSanPham })">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @if (Model.Total_quantity() != 0)
        {
            <p class="fw-bold">Tổng tiền: <span class="text-danger">@Model.Total_money().ToString("n0") VNĐ</span></p>
        }
        @using (Html.BeginForm("CheckOut", "Cart"))
        {
            if (Model.Total_quantity() != 0)
            {

                <label for="TenKH" class="form-label">Tên Khách hàng</label>
                <input name="CodeCustomer" type="text" id="TenKH" class="form-control">
                <label for="TenKH" class="form-label">Địa chỉ giao hàng</label>
                <input name="AddressDelivery" type="text" id="DiaChiKH" class="form-control">
                <label for="SdtKH" class="form-label">Số điện thoại</label>
                <input name="SdtKH" type="text" id="sdtKH" class="form-control">
                <div>
                    <input type="submit" name="CheckOut" class="btn btn-success" value="Thanh toán" />
                    <a href="@Url.Action("RegisterUser", "LoginUser")" class="btn btn-success my-3">Register</a>
                </div>

            }
            else
            {
                <p class="text-danger" style="text-align:center">Chưa có sản phẩm nào! Vui lòng mua sản phẩm</p>
            }
        }
    </div>
}
else
{
    @*@Html.Partial("EmptyCart")*@
}
