@using PJ_SanPhamTieuDung_.Net.Models;
@{ 
    SanPhamTieuDungEntities db = new SanPhamTieuDungEntities();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Natural Shop</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2FlogoNaturalShop.png?alt=media&amp;token=04c3a5b4-6740-4191-8408-fd6172665132" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        header h2 {
            color: var(--color-main)
        }
    </style>
        @if(Session["LoaiTaiKhoan"] != null)
        {
            var loaitaikhoan = (NguoiDung)Session["LoaiTaiKhoan"];
            var listChucNang = db.ChucNangs.Where(s => s.MaLoaiTaiKhoan == loaitaikhoan.MaLoaiTaiKhoan).ToList();
            if (loaitaikhoan.MaLoaiTaiKhoan == 1 || loaitaikhoan.MaLoaiTaiKhoan == 2)
            {
            <!-- header -->
            <header class="container-fluid ">
                <!-- header_head -->
                <div class="logo_head d-flex justify-content-center align-items-center mt-3 mobile_header">
                    <div><img style="width: 15rem;" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2FlogoNaturalShop.png?alt=media&token=04c3a5b4-6740-4191-8408-fd6172665132" alt="logo"></div>

                    <div>
                        <h2 class="text-center text-uppercase">Natural Shop</h2>
                        <p class="fs-3 text-center"> <b>Tư vấn và cung cấp sản phẩm xanh 100% thiên nhiên</b></p>
                    </div>
                </div>
                <div class="progress" style="height: 1px;">
                    <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </header>
            <!-- end header -->

            <div class="container-fluid row">
                <div class="col-md-2 my-3">
                    <h5 class="text-center fw-bold text-uppercase">@loaitaikhoan.LoaiTaiKhoan.TenLoaiTaiKhoan</h5>
                    <div class="list-group" id="list-tab" role="tablist">
                        @foreach (var item in listChucNang)
                        {
                            <a class="list-group-item list-group-item-action" href="~/admin/@item.ControllerName/@item.ActionName">@item.TenChucNang</a>
                        }
                    <hr />
                        <a class="list-group-item list-group-item-action" href="@Url.Action("MyProfile","HomeAdmin",new {@area = "Admin" })">Thông tin cá nhân</a>
                        <a class="list-group-item list-group-item-action" href="~/Authentication/Logout">Đăng xuất</a>
                    </div>
                </div>
                <div class="col-md-9 my-3">
                    @RenderBody()
                </div>
            </div>
            <!-- Layout_footer -->
            <footer class="container-fluid mt-3" style="background-color: var(--color-main);">
                <div class="container mx-md-auto row text-light pt-3">
                    <div class="col-md-4">
                        <h3>THÔNG TIN LIÊN HỆ</h3>
                        <div class="progress mb-2" style="height: 1px;">
                            <div class="progress-bar" role="progressbar" aria-label="Example 1px high" style="width: 100%; background-color: #fff" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-uppercase">Natural shop</p>
                        <p>Mã số thuế: 0316621998</p>
                        <p>Địa chỉ: Toà 10, toà nhà Pax Sky, 51 Nguyễn Cư Trinh, Phường Nguyễn Cư Trinh, Quận 1, TPHCM</p>
                        <p>Hotline/Zalo: 0925.328.842</p>
                        <p>Email: Maikhanh101094@gmail.com</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-uppercase">danh mục sản phẩm</h3>
                        <div class="progress mb-2" style="height: 1px;">
                            <div class="progress-bar" role="progressbar" aria-label="Example 1px high" style="width: 100%; background-color: #fff" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>QUANTUM BEAUTY WORLD</p>
                        <p>QUANTUM DAILY WORLD</p>
                        <p>TIÊU DÙNG XANH AORI</p>
                        <p>QUANTUM HEALTHY WORLD</p>
                        <img class="mb-2" style="width: 10rem;" src="~/Content/img/da-thong-bao.png" alt="thongbaocongthuong">
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-uppercase">Bản đồ</h3>
                        <div class="progress mb-2" style="height: 1px;">
                            <div class="progress-bar" role="progressbar" aria-label="Example 1px high" style="width: 100%; background-color: #fff" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="wpb_map_wraper">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15678.468316830857!2d106.691126!3d10.763966!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fb0e80119d3%3A0xfe35215d07ed3610!2sPAX%20SKY!5e0!3m2!1svi!2sus!4v1678709914741!5m2!1svi!2sus" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><noscript><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15678.468316830857!2d106.691126!3d10.763966!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fb0e80119d3%3A0xfe35215d07ed3610!2sPAX%20SKY!5e0!3m2!1svi!2sus!4v1678709914741!5m2!1svi!2sus" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></noscript>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end footer -->
            <!-- copyright -->
            <div class="bg-dark text-light text-center"><p class="mb-auto">Copyright 2022 © K02</p></div>
            <!-- end copyright -->

            }else
                {
                    <h3 class="text-danger">Bạn không có quyền truy cập</h3>
                }
         }
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)          
</body>
</html>
