@model PJ_SanPhamTieuDung_.Net.Models.DanhMucSanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between">
    <h5 class="text-uppercase fw-bold">Xem chi tiết danh mục</h5>
    @Html.ActionLink("Trở về", "Index")
</div>
<div>
    <h5>Danh mục sản phẩm</h5>
    <hr />
    <div class="row table">
        <div class="col-sm">
            <span class="col-form-label">@Html.DisplayName("Mã danh mục sản phẩm")</span>
            <input type="text" name="MaDanhMuc" class="form-control my-1" value="@Html.DisplayFor(m => m.MaDanhMucSanPham)"  readonly/>
        </div>
        <div class="col-sm">
            <span class="col-form-label">@Html.DisplayName("Tên danh mục sản phẩm")</span>
            <input type="text" name="TenDanhMuc" class="form-control my-1" value="@Html.DisplayFor(m => m.TenDanhMucSanPham)" readonly />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaDanhMucSanPham }, new { @class = "btn btn-success" }) <br />
</p>
