@model IEnumerable<PJ_SanPhamTieuDung_.Net.Models.DanhMucSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var successMessage = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="notice" class="position-fixed" role="alert" style="z-index:1000; bottom:5%; right:2%; width:32%; background-color: rgba(36, 200, 104, 0.8); border-radius: 2.5rem;">
        <div class="d-flex justify-content-around" style="height: 90px; position: relative;">
            <div class="position-absolute top-50 translate-middle-y" style="right:25%; color:white;">
                <h5><i class="fa-regular fa-circle-check"></i> @successMessage</h5>
            </div>

        </div>
    </div>}
<h5 class="text-uppercase fw-bold">Quản lý danh mục sản phẩm</h5>

<p>
    @Html.ActionLink("Thêm danh mục", "Create", "", new { @class = "btn btn-success " })
</p>
<table class="table table-striped text-center">
    <tr>
        <th>
            @Html.DisplayName("Mã danh mục sản phẩm")
        </th>
        <th>
            @Html.DisplayName("Tên danh mục sản phẩm")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDanhMucSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMucSanPham)
            </td>
            <td style="width:10%">
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaDanhMucSanPham }, new { @class = "btn btn-outline-success w-100" })
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaDanhMucSanPham }, new { @class = "btn btn-success w-100 my-2" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaDanhMucSanPham }, new { @class = "btn btn-danger w-100" })
            </td>
        </tr>
    }

</table>
<script>
$(document).ready(function () {

        if ($("#notice").is(':visible')) {
            $("#notice").css({ "position": "fixed", "bottom": "5%", "right": "2%" })

            $("#notice").fadeIn(2500, function () {
                $("#notice").fadeOut(3000)
            });
        }
    });</script>