@model IEnumerable<PJ_SanPhamTieuDung_.Net.Models.DanhMucSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="text-uppercase fw-bold">Quản lý danh mục sản phẩm</h5>

<p>
    @Html.ActionLink("Thêm danh mục", "Create","",new {@class = "btn btn-success "})
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Tên danh mục sản phẩm")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDanhMucSanPham)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaDanhMucSanPham }, new { @class = "btn btn-outline-success" })
            @Html.ActionLink("Xem chi tiết", "Details", new { id=item.MaDanhMucSanPham }, new { @class = "btn btn-success" })
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaDanhMucSanPham },new {@class ="btn btn-danger" })
        </td>
    </tr>
}

</table>
