@model IEnumerable<PJ_SanPhamTieuDung_.Net.Models.ChiTietHoaDon>
@{
    ViewBag.Title = "HistoryPay";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h5 class="text-uppercase fw-bold text-center my-3">Lịch sử mua sản phẩm</h5>
<div class="table-responsive w-75 mx-auto my-5">
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayName("Tên sản phẩm")</th>
            <th>@Html.DisplayName("Số lượng")</th>
            <th>@Html.DisplayName("Giá")</th>
            <th>@Html.DisplayName("Ngày mua")</th>
            <th>@Html.DisplayName("Trạng thái")</th>
        </tr>
        @foreach (var item in Model)
        {
           <tr>
                <td>@Html.DisplayFor(m => item.SanPham.TenSanPham)</td>
                <td>@Html.DisplayFor(m => item.SoLuongSanPham)</td>
                <td>@Html.DisplayFor(m => item.Gia)</td>
                <td>@Html.DisplayFor(m=>item.HoaDon.NgayMua)</td>
                <td>@Html.DisplayFor(m=>item.HoaDon.TrangThai.TenTrangThai)</td>
           </tr>
        }
    </table>
</div>

