@model PJ_SanPhamTieuDung_.Net.Models.NguoiDung
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var successMessage = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="notice" class="position-fixed" role="alert" style="z-index:1000; bottom:5%; right:2%; width:32%; background-color: rgba(36, 200, 104, 0.8); border-radius: 2.5rem;">
        <div class="d-flex justify-content-around" style="height: 90px; position: relative;">

            <i class="fas fa-check position-absolute top-50 translate-middle-y p-4 text-center"
               style="background-color: rgba(36, 200, 104, 1); border-radius:50%; color:white; left:10%;"></i>

            <div class="position-absolute top-50 translate-middle-y" style="right:25%; color:white;">
                <h5>@successMessage</h5>
            </div>

        </div>
    </div>}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="w-75 mx-auto my-5 border border-1 p-5 shadow">
        <h5 class="text-uppercase fw-bold text-center">Thông tin cá nhân</h5>
        <div>
            <div class="row mt-3">
                <div class="col-sm">
                    <label class="form-label">Tên người dùng</label>
                    <input type="text" name="myProfileTen" value="@Html.DisplayFor(m => m.TenNguoiDung)" class="form-control my-2" />
                </div>
                <div class="col-sm">
                    <label class="form-label">Email</label>
                    <input type="text" name="myProfileEmail" value="@Html.DisplayFor(m=>m.EmailNguoiDung)" class="form-control my-2" />
                </div>
                <div class="col-sm">
                    <label class="form-label">Số điện thoại</label>
                    <input type="text" name="myProfileSDT" value="@Html.DisplayFor(m=>m.SdtNguoiDung)" class="form-control my-2" />
                </div>
            </div>
            <br />
            <div class="row mt-3">
                <div class="col-sm">
                    <label class="form-label">Địa chỉ</label>
                    <input type="text" name="myProfileDiaChi" value="@Html.DisplayFor(m=>m.DiaChiNguoiDung)" class="form-control my-2" />
                </div>
                <div class="col-sm">
                    <label class="form-label">Tên tài khoản</label>
                    <input type="text" name="myProfileTaiKhoan" value="@Html.DisplayFor(m=>m.UserNames)" class="form-control my-2" readonly />
                </div>
                <div class="col-sm">
                    <label class="form-label">Loại tài khoản</label>
                    <input type="text" name="myProfileLoaiTaiKhoan" value="@Html.DisplayFor(m=>m.LoaiTaiKhoan.TenLoaiTaiKhoan)" class="form-control my-2" readonly />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">

                </div>
                <div class="col-sm">
                    <a href="@Url.Action("ChangeMyPassword","HomeAdmin", new {@area = "Admin" })" class="btn btn-outline-success mx-2">Đổi mật khẩu</a>
                    <input id="SaveMyProfile" type="submit" value="Lưu" class="btn btn-success w-25" />
                </div>
                <div class="col-sm">

                </div>
            </div>
        </div>

    </div>
}
<script>
$(document).ready(function () {

        if ($("#notice").is(':visible')) {
            $("#notice").css({ "position": "fixed", "bottom": "5%", "right": "2%" })

            $("#notice").fadeIn(2500, function () {
                $("#notice").fadeOut(3000)
            });
        }
    });</script>
